.news-container {
  padding: 2.8em 0;
  margin: 0 0 7.25em 0;
  background: var(--ea-color-3);
  @media only screen and (max-width: 600px) {
    padding: 3em 4vw;
    box-sizing: border-box;
    & h2 {
      margin-bottom: 2em;
    }
  }
}

.news-icons {
  background: var(--ea-color-3);
  height: 8em;
  --ea-grid-col-min-width: 14em;
  justify-items: center;
  align-items: center;
  grid-gap: 2.5em;
  @media only screen and (max-width: 600px) {
    height: auto;
  }
}

.bold {
  text-align: center;
  width: 70%;
  @media only screen and (max-width: 600px) {
    width: 100%;
  }
}
