<div center class="news-container">
  <div max-width>
    <div center>
      <h2 lg class="bold">
        We build long term trusted advisor relationships with our clients,
        delivering practical, high impact results - quickly.
      </h2>
    </div>
    <div multi-col class="news-icons">
      <img
        style="    width: 16em;
        filter: grayscale(90%);
        opacity: 0.3;"
        src="../../../assets/images/cga-logo.png"
        alt=""
      />

      <img
        style="    width: 12em;
        filter: grayscale(90%);
        opacity: 0.3;"
        src="../../../assets/images/constitution-mgmt-logo-blue.png"
        alt=""
      />
      <img
        style="    width: 3.5em;
        filter: grayscale(90%);
        opacity: 0.3;"
        src="../../../assets/images/ecb-clear.png"
        alt=""
      />
    </div>
  </div>
</div>
