<div center>
  <div max-width>
    <h2 lg>Trusted By</h2>
  </div>
</div>
<div center style=" padding: 2.8em 0; margin: 0 0 7.25em 0;background: var(--ea-color-3);">
  <div max-width>
    <div
      multi-col
      style="background: var(--ea-color-3);
    height: 8em;
    --ea-grid-col-min-width: 14em;
    justify-items: center;
    align-items: center;"
    >
      <img
        style="    width: 16em;
        filter: grayscale(90%);
        opacity: 0.3;"
        src="../../../assets/images/cga-logo.png"
        alt=""
      />

      <img
        style="    width: 12em;
        filter: grayscale(90%);
        opacity: 0.3;"
        src="../../../assets/images/constitution-mgmt-logo-blue.png"
        alt=""
      />
      <img
        style="    width: 3.5em;
        filter: grayscale(90%);
        opacity: 0.3;"
        src="../../../assets/images/ecb-clear.png"
        alt=""
      />
    </div>
  </div>
</div>
