<div class="news-container">
    <div>
      <h2>
        We build long term trusted advisor relationships with our clients,
        delivering practical, high impact results - quickly.
      </h2>
    </div>
    <div multi-col class="news-icons">
      <img id="cga-logo" src="../../../assets/images/cga-logo.png" alt="" />
      <img id="mgmt-logo" src="../../../assets/images/constitution-mgmt-logo-blue.png" alt="" />
      <img id="ecb-clear" src="../../../assets/images/ecb-clear.png" alt="" />
    </div>
</div>