<div class="grid-cards-text">
  <div class="flex-cards">

    <div class="software-example">
      <div class="ea-card shim-card" sm>
        <div class="flex-content-center acme-phonely-wrapper">
          <img id="acme-logo" src="../../assets/images/acme-logo.png" alt="" />
        </div>
        <div class="ea-card-content">
          <h2 class="text-center w-100">Wait a minute!</h2>
          <p class="text-center">
            You need to complete the form before you can move on from this section.
          </p>
        </div>
        <div class="ea-card-footer" id="confirm-btn-wrapper">
          <button>
            Click to Confirm
          </button>
        </div>
      </div>
    </div>

    <div class="software-example phone-card">
      <div class="ea-card phonely-card">
        <div class="flex-content-center acme-phonely-wrapper">
          <img id="phonely-logo" src="../../assets/images/phonely-logo.png" alt="" />
        </div>
        <div class="ea-card-header" id="phonely-card-header">
          <ea-tablist horizontal [tabpanelGroup]="exampleTabs" [activated$]="tabActivate$$"></ea-tablist>
        </div>

        <div class="ea-card-content" id="phonely-card-content">
          <ea-tabpanel-group #exampleTabs>
            <ea-tabpanel id="tab-1" name="Missed">
              <div class="ea-card" sm>
                <img src="" alt="" />
                <h2>Will</h2>
                <p>4:25pm @ 555.555.5555</p>
                <div class="icon-wrapper">
                  <span icon bell></span>
                  <span icon inbox></span>
                  <span icon share></span>
                </div>
              </div>
              <div class="ea-card" sm>
                <img src="" alt="" />
                <h2>Sebastian</h2>
                <p>4:25pm @ 555.555.5555</p>
                <div class="icon-wrapper">
                  <span icon bell></span>
                  <span icon inbox></span>
                  <span icon share></span>
                </div>
              </div>
              <div class="ea-card" sm>
                <img src="" alt="" />
                <h2>Gustavo</h2>
                <p>4:25pm @ 555.555.5555</p>
                <div class="icon-wrapper">
                  <span icon bell></span>
                  <span icon inbox></span>
                  <span icon share></span>
                </div>
              </div>
              <div class="ea-card" sm>
                <img src="" alt="" />
                <h2>Bill</h2>
                <p>4:25pm @ 555.555.5555</p>
                <div class="icon-wrapper">
                  <span icon bell></span>
                  <span icon inbox></span>
                  <span icon share></span>
                </div>
              </div>
              <div class="ea-card" sm>
                <img src="" alt="" />
                <h2>Mark</h2>
                <p>4:25pm @ 555.555.5555</p>
                <div class="icon-wrapper">
                  <span icon bell></span>
                  <span icon inbox></span>
                  <span icon share></span>
                </div>
              </div>
            </ea-tabpanel>
            <ea-tabpanel name="Favorites">
              <!-- After update list in eang change these roles -->
              <div role="list">
                <div role="listitem" class="favorites-list">
                  Will <span icon external-link></span>
                </div>
                <div role="listitem" class="favorites-list">
                  Sebastian <span icon external-link></span>
                </div>
                <div role="listitem" class="favorites-list">
                  Sofia <span icon external-link></span>
                </div>
              </div>
            </ea-tabpanel>
          </ea-tabpanel-group>
        </div>
      </div>
    </div>

    <div class="software-example">
      <div class="ea-card h-100" id="menu-card-margin">
        <div class="ea-card-header" id="menu-card-header">
          <span icon hamburger-menu negative id="menu-burger-icon"></span>
        </div>
        <div class="ea-card-content h-100" id="menu-card-padding">
          <div class="h-100 node-wrapper">
            <ea-menu [node]="example"></ea-menu>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="text-branded-apps">
    <div>
      <h1>Branded apps in minutes</h1>
      <h2>
        We can apply your corporate brand to our pre-existing library of software
        widgets to quickly get your project off the ground.
      </h2>
      <div>
        <a href="mailto:william@eamode.com">Get in Touch</a>
      </div>
    </div>
  </div>

</div>