<div class="software-section" multi-col style="grid-gap: 0;">
  <div class="software-example-container" style="z-index: 0">
    <div class="software-example">
      <div class="ea-card">
        <div class="ea-card-header">
          <h2>Ea-card</h2>
        </div>
        <div class="ea-card-content"></div>
        <div class="ea-card-footer">
          <button>
            Click to Confirm
          </button>
        </div>
      </div>
    </div>
    <div
      class="software-example"
      style="position: relative; display: flex; align-items: center; justify-content: center;"
    >
      <div class="shim"></div>
      <div class="ea-card" sm style="z-index: 1; width: 90%;">
        <div class="ea-card-content">
          <h2 style="text-align: center; width: 100%;">Wait a minute!</h2>
          <p style="text-align: center;">
            You need to complete the form before you can move on from this
            section.
          </p>
        </div>
        <div class="ea-card-footer" style="justify-content: center;">
          <button>
            Click to Confirm
          </button>
        </div>
      </div>
    </div>
    <div class="software-example">
      <div
        class="ea-card"
        style="margin: 0; border: 0; border-radius: 0; height: 100%;"
      >
        <div class="ea-card-header" style="padding: 0; display: block;">
          <ea-tablist
            horizontal
            [tabpanelGroup]="exampleTabs"
            [activate$$]="tabActivate$$"
          ></ea-tablist>
        </div>

        <div class="ea-card-content" style="overflow: auto; padding: 0;">
          <ea-tabpanel-group #exampleTabs style="width: 100%;">
            <ea-tabpanel id="tab-1" name="Missed">
              <div class="ea-card" sm style="padding:0 1em;">
                <img src="" alt="" />
                <h2 style="margin-bottom: 0;">Will</h2>
                <p style="margin: 0 0 0.25em;">4:25pm @ 555.555.5555</p>
                <div
                  style="    align-items: center;
                display: flex;
                margin-bottom: .5em;
                height: 1.7em;"
                >
                  <span icon bell style="margin-right: .5em;"></span>
                  <span icon inbox style="margin-right: .5em;"></span>
                  <span icon share style="margin-right: .5em;"></span>
                </div>
              </div>
              <div class="ea-card" sm style="padding: 0 1em;">
                <img src="" alt="" />
                <h2 style="margin-bottom: 0;">Sebastian</h2>
                <p style="margin: 0 0 0.25em;">4:25pm @ 555.555.5555</p>
                <div
                  style="    align-items: center;
              display: flex;
              margin-bottom: .5em;
              height: 1.7em;"
                >
                  <span icon bell style="margin-right: .5em;"></span>
                  <span icon inbox style="margin-right: .5em;"></span>
                  <span icon share style="margin-right: .5em;"></span>
                </div>
              </div>
              <div class="ea-card" sm style="padding:0 1em;">
                <img src="" alt="" />
                <h2 style="margin-bottom: 0;">Gustavo</h2>
                <p style="margin: 0 0 0.25em;">4:25pm @ 555.555.5555</p>
                <div
                  style="    align-items: center;
            display: flex;
            margin-bottom: .5em;
            height: 1.7em;"
                >
                  <span icon bell style="margin-right: .5em;"></span>
                  <span icon inbox style="margin-right: .5em;"></span>
                  <span icon share style="margin-right: .5em;"></span>
                </div>
              </div>
              <div class="ea-card" sm style="padding:0 1em;">
                <img src="" alt="" />
                <h2 style="margin-bottom: 0;">Bill</h2>
                <p style="margin: 0 0 0.25em;">4:25pm @ 555.555.5555</p>
                <div
                  style="    align-items: center;
            display: flex;
            margin-bottom: .5em;
            height: 1.7em;"
                >
                  <span icon bell style="margin-right: .5em;"></span>
                  <span icon inbox style="margin-right: .5em;"></span>
                  <span icon share style="margin-right: .5em;"></span>
                </div>
              </div>
              <div class="ea-card" sm style="padding:0 1em;">
                <img src="" alt="" />
                <h2 style="margin-bottom: 0;">Mark</h2>
                <p style="margin: 0 0 0.25em;">4:25pm @ 555.555.5555</p>
                <div
                  style="    align-items: center;
            display: flex;
            margin-bottom: .5em;
            height: 1.7em;"
                >
                  <span icon bell style="margin-right: .5em;"></span>
                  <span icon inbox style="margin-right: .5em;"></span>
                  <span icon share style="margin-right: .5em;"></span>
                </div>
              </div>
            </ea-tabpanel>
            <ea-tabpanel name="Recent">
              <div class="ea-card" sm style="padding:0 1em;">
                <img src="" alt="" />
                <h2 style="margin-bottom: 0;">Will</h2>
                <p style="margin: 0 0 0.25em;">4:25pm @ 555.555.5555</p>
                <div
                  style="    align-items: center;
                    display: flex;
                    margin-bottom: .5em;
                    height: 1.7em;"
                >
                  <span icon bell style="margin-right: .5em;"></span>
                  <span icon inbox style="margin-right: .5em;"></span>
                  <span icon share style="margin-right: .5em;"></span>
                </div>
              </div>
              <div class="ea-card" sm style="padding: 0 1em;">
                <img src="" alt="" />
                <h2 style="margin-bottom: 0;">Sebastian</h2>
                <p style="margin: 0 0 0.25em;">4:25pm @ 555.555.5555</p>
                <div
                  style="    align-items: center;
                  display: flex;
                  margin-bottom: .5em;
                  height: 1.7em;"
                >
                  <span icon bell style="margin-right: .5em;"></span>
                  <span icon inbox style="margin-right: .5em;"></span>
                  <span icon share style="margin-right: .5em;"></span>
                </div>
              </div>
              <div class="ea-card" sm style="padding:0 1em;">
                <img src="" alt="" />
                <h2 style="margin-bottom: 0;">Gustavo</h2>
                <p style="margin: 0 0 0.25em;">4:25pm @ 555.555.5555</p>
                <div
                  style="    align-items: center;
                display: flex;
                margin-bottom: .5em;
                height: 1.7em;"
                >
                  <span icon bell style="margin-right: .5em;"></span>
                  <span icon inbox style="margin-right: .5em;"></span>
                  <span icon share style="margin-right: .5em;"></span>
                </div>
              </div>
              <div class="ea-card" sm style="padding:0 1em;">
                <img src="" alt="" />
                <h2 style="margin-bottom: 0;">Bill</h2>
                <p style="margin: 0 0 0.25em;">4:25pm @ 555.555.5555</p>
                <div
                  style="    align-items: center;
                display: flex;
                margin-bottom: .5em;
                height: 1.7em;"
                >
                  <span icon bell style="margin-right: .5em;"></span>
                  <span icon inbox style="margin-right: .5em;"></span>
                  <span icon share style="margin-right: .5em;"></span>
                </div>
              </div>
              <div class="ea-card" sm style="padding:0 1em;">
                <img src="" alt="" />
                <h2 style="margin-bottom: 0;">Mark</h2>
                <p style="margin: 0 0 0.25em;">4:25pm @ 555.555.5555</p>
                <div
                  style="    align-items: center;
                display: flex;
                margin-bottom: .5em;
                height: 1.7em;"
                >
                  <span icon bell style="margin-right: .5em;"></span>
                  <span icon inbox style="margin-right: .5em;"></span>
                  <span icon share style="margin-right: .5em;"></span>
                </div>
              </div>
            </ea-tabpanel>
            <ea-tabpanel name="Favorites">
              <div role="list">
                <div
                  role="listitem"
                  style="padding: 0 1em; justify-content: space-between;"
                >
                  Will <span icon external-link></span>
                </div>
                <div
                  role="listitem"
                  style="padding: 0 1em; justify-content: space-between;"
                >
                  Sebastian <span icon external-link></span>
                </div>
                <div
                  role="listitem"
                  style="padding: 0 1em; justify-content: space-between;"
                >
                  Sofia <span icon external-link></span>
                </div>
              </div>
            </ea-tabpanel>
          </ea-tabpanel-group>
        </div>
      </div>
    </div>
    <div class="software-example">
      <div class="ea-card" style="margin: 0; height: 100%;">
        <div
          class="ea-card-header"
          style="background: var(--ea-color-1); padding: 1em; border: 0;"
        >
          <span
            icon
            hamburger-menu
            negative
            style="height: 1.5em; width: 1.5em;"
          ></span>
        </div>
        <div class="ea-card-content" style="padding: 0; height: 100%;">
          <div
            style="background: var(--ea-color-2);
          width: 60%;
          height: 100%;
          --ea-menu-color: white;"
          >
            <ea-menu [node]="example"></ea-menu>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="software-text-container" style="z-index: 1;">
    <div class="software-text">
      <div style=" border-left: 1px solid #d3d3d3; height: 95%;"></div>
      <div style="margin-left: 2em;">
        <img
          src="../../assets/images/eang-logo.svg"
          style="width: 5em;"
          alt=""
        />
        <h1 style="width: 70%;">Scale your front-end development</h1>
        <h2 style="width: 70%;">
          We build open source highly customizable comoponents for real-time
          applications. Create your own customized components and rapidly
          develop enterprise software.
        </h2>
        <a href="https://eang.io">Try it yourself</a>
      </div>
    </div>
  </div>
</div>
