:host {
  display: block;
  text-align: center;
  margin: 10em 1em 12em;
  min-height: 800px;

  @media only screen and (max-width: 800px) {
    min-height: 500px;
  }
}
.banner {
  display: flex;
  justify-content: center;
  position: relative;

  h1 {
    --ea-sizer: 1.4;
  }
  h2 {
    --ea-sizer: 1.1;
  }

  > div {
    z-index: 1;
    max-width: 40em;
  }

  & #background {
    left: var(--banner-img-left);
    opacity: 0.2;
    position: absolute;
    transform: rotate(46deg);
    width: 30em;
    z-index: 0;
  }

  & #arrow {
    margin-top: 2em;
    height: 15%;
  }
}

@media only screen and (max-width: 800px) {
  .banner {
    display: flex;
    justify-content: center;
    position: relative;

    & #background {
      width: 15em;
    }
  }
}
