<div center>
  <div max-width>
    <div id="value-prop-container" multi-col style="--ea-grid-col-min-width:15em;">
      <!-- <div>
        <div>
          <h1>Real-Time Process Analytics</h1>
          <h2></h2>
        </div>
        <div></div>
      </div>
      <div class="consulting-value-prop">
        <div class="ea-card analytics">
          <div class="ea-card-header">
            <h2>Analytics</h2>
          </div>
        </div>
        <div class="ea-card integration">
          <div class="ea-card-header">
            <h2>Integration</h2>
          </div>
        </div>
        <div style="gird-area: d;" class="ea-card">
          <div class="ea-card-header">
            <h2>Document</h2>
          </div>
        </div>
        <div style="gird-area: m;" class="ea-card">
          <div class="ea-card-header">
            <h2>Modeling</h2>
          </div>
        </div>
      </div> -->
      <div id="value-prop">
        <div
          style="
        height: 5em;
        display: flex;
        align-items: center;
    "
        >
          <img
            src="../../assets/images/design.svg"
            style="height: 4em;"
            alt=""
          />
        </div>
        <h2>Strategy</h2>
       <ul>
          <li>Lean startup planning</li>
          <li>Project bootstrapping</li>
          <li>Strategy development</li>
       </ul>
      </div>
      <div id="value-prop">
        <div
          style="
        height: 5em;
        display: flex;
        align-items: center;
    "
        >
          <img
            src="../../assets/images/develop.svg"
            style="width: 10em;"
            alt=""
          />
        </div>

        <h2>Design</h2>
        <ul>
            <li>Product branding</li>
            <li>User experience</li>
            <li>Process design</li>
         </ul>
      </div>
      <div id="value-prop">
        <div
          style="
        height: 5em;
        display: flex;
        align-items: center;
    "
        >
          <img
            src="../../assets/images/deploy.svg"
            style="width: 12em;"
            alt=""
          />
        </div>

        <h2>Development</h2>
        <ul>
            <li>Full-Stack technologies</li>
            <li>DevOps Automation</li>
            <li>Azure, Google, AWS</li>
         </ul>
      </div>
    </div>
  </div>
</div>
