<div class="value-prop-container">
  <div class="value-prop">
    <div>
      <img id="design-img" src="../../assets/images/design.svg" alt="" />
    </div>
    <h2>Strategy</h2>
    <ul>
      <li>Lean startup planning</li>
      <li>Project bootstrapping</li>
      <li>Strategy development</li>
    </ul>
  </div>
  <div class="value-prop">
    <div>
      <img id="develop-img" src="../../assets/images/develop.svg" alt="" />
    </div>
    <h2>Design</h2>
    <ul>
      <li>Product branding</li>
      <li>User experience</li>
      <li>Process design</li>
    </ul>
  </div>
  <div class="value-prop">
    <div>
      <img id="deploy-img" src="../../assets/images/deploy.svg" alt="" />
    </div>
    <h2>Development</h2>
    <ul>
      <li>Full-Stack technologies</li>
      <li>DevOps Automation</li>
      <li>Azure, Google, AWS</li>
    </ul>
  </div>
</div>