<div center>
  <div max-width>
    <div multi-col style="--ea-grid-col-min-width:15em;">
      <!-- <div>
        <div>
          <h1>Real-Time Process Analytics</h1>
          <h2></h2>
        </div>
        <div></div>
      </div>
      <div class="consulting-value-prop">
        <div class="ea-card analytics">
          <div class="ea-card-header">
            <h2>Analytics</h2>
          </div>
        </div>
        <div class="ea-card integration">
          <div class="ea-card-header">
            <h2>Integration</h2>
          </div>
        </div>
        <div style="gird-area: d;" class="ea-card">
          <div class="ea-card-header">
            <h2>Document</h2>
          </div>
        </div>
        <div style="gird-area: m;" class="ea-card">
          <div class="ea-card-header">
            <h2>Modeling</h2>
          </div>
        </div>
      </div> -->
      <div>
        <div
          style="
        height: 5em;
        display: flex;
        align-items: center;
    "
        >
          <img
            src="../../assets/images/design.svg"
            style="height: 4em;"
            alt=""
          />
        </div>
        <h2>Design</h2>
        <p>
          We work with you to outline your problem set and design solutions. We
          follow a successful process for delivering high quality deliverables
          to our clients.
        </p>
        <a
          style="
        font-size: 1.2em;
    "
          href=""
        >
          Get in touch
        </a>
      </div>
      <div>
        <div
          style="
        height: 5em;
        display: flex;
        align-items: center;
    "
        >
          <img
            src="../../assets/images/develop.svg"
            style="width: 10em;"
            alt=""
          />
        </div>

        <h2>Develop</h2>
        <p>
          After designing a solution we both agree on, we get to worky quickly
          authoring a solution. Leveraging Open Source we bring together
          applications rapidly.
        </p>
        <a
          style="
        font-size: 1.2em;
    "
          href=""
        >
          Get in touch
        </a>
      </div>
      <div>
        <div
          style="
        height: 5em;
        display: flex;
        align-items: center;
    "
        >
          <img
            src="../../assets/images/deploy.svg"
            style="width: 12em;"
            alt=""
          />
        </div>

        <h2>Deploy</h2>
        <p>
          Production ready solutions delivered with a continious delivery
          pipeline. We offer the support to your team to excute with an
          augmented workforce of specialists.
        </p>
        <a
          style="
        font-size: 1.2em;
    "
          href=""
        >
          Get in touch
        </a>
      </div>
    </div>
  </div>
</div>
