<ea-layout>
  <ea-toolbar shadow>
    <img class="logo" src="/assets/images/crown.svg" alt="EA Mode Logo" />
    <!-- <button class="ea-button" icon flat rounded (click)="changeColorScheme()">
      <span icon filter></span>
    </button> -->
  </ea-toolbar>
  <ea-body>
    <ea-main role="main">
      <app-banner></app-banner>
      <app-consulting></app-consulting>
      <app-software></app-software>
      <app-news></app-news>
    </ea-main>
    <ea-footer>
      <div>
        <div>
          <img id="logo-white" src="../assets/images/logo-white.svg" alt="" />
        </div>
        <div>
          <h2>About Us</h2>
          <p>
            EA Mode, LLC is a high-touch consulting firm that specializes in
            strategy, design, and software development. We work with innovative
            organizations in financial services, healthcare, and the public
            sector.
          </p>
        </div>
      </div>
    </ea-footer>
  </ea-body>
</ea-layout>
