<ea-layout>
  <ea-toolbar shadow>
    <img class="logo" src="/assets/images/crown.svg" alt="EA Mode Logo" />
    <!-- <button class="ea-button" icon flat rounded (click)="changeColorScheme()">
      <span icon filter></span>
    </button> -->
    <div class="links">
      <a href="#consulting">Consulting</a> <a href="#webdevelopment">Software Development</a> <a href="#aboutus">About Us</a>
    </div>
  </ea-toolbar>
  <ea-body>
    <ea-main role="main">
      <app-banner></app-banner>
      <app-consulting></app-consulting>
      <app-software></app-software>
      <app-news></app-news>
    </ea-main>
    <ea-footer multi-col>
      <div class="logo">
        <img id="logo-white" src="../assets/images/logo-white.svg" alt="logo" />
        <p class="copyright">© {{ year }} EA Mode LLC</p>
      </div>
      <div class="contact-us">
        <h2>Contact Us</h2>
        <p>
          <a href="mailto:info@eamode.com">info@eamode.com</a>
          <br />
          <a href="mailto:support@eamode.com">support@eamode.com</a>
        </p>
      </div>
      <div class="about-us">
        <a name="aboutus"></a><h2>About Us</h2>
        <p>
          EA Mode, LLC is a high-touch consulting firm that specializes in
          strategy, design, and software development. We work with innovative
          organizations in financial services, healthcare, and the public
          sector.
        </p>
      </div>
    </ea-footer>
  </ea-body>
</ea-layout>
