<ea-layout>
  <ea-toolbar shadow>
    <div style=" width: 100%; display: flex; justify-content: center;">
      <div max-width class="nav-container">
        <img src="../assets/images/crown.svg" style=" width: 8em;" alt="" />
        <!-- <nav>
          <a href="">Software</a>
          <a href="">Consulting</a>
          <a href="">Contact Us</a>
        </nav> -->
      </div>
    </div>
  </ea-toolbar>

  <ea-main>
    <ea-body>
      <app-banner></app-banner>
      <app-consulting></app-consulting>
      <app-software></app-software>
      <app-news></app-news>
      <!-- <app-cta></app-cta> -->
    </ea-body>
    <ea-footer center>
      <div multi-col max-width>
        <div>
          <img
            style="width: 12em; transform: filter(100%);"
            src="../assets/images/logo-white.svg"
            alt=""
          />
        </div>
        <div>
          <h2>About Us</h2>
          <p>
            EA Mode, LLC is a high-touch consulting firm that specializes in
            strategy, design, and software development. We work with innovative
            organizations in financial services, healthcare, and the public
            sector.
          </p>
        </div>
      </div>
    </ea-footer>
  </ea-main>
</ea-layout>
