ea-footer {
  height: auto !important; // change in eang to remove this line
}

ea-footer > div:first-child {
  display: grid; grid-template-columns: repeat(auto-fit,minmax(22em, 1fr)); grid-gap: 1.5em; align-items: center
}

#logo-white {
  width: 12em;
  transform: filter(100%);
}

#crown-img {
  width: 8em;
}