.nav-container {
  display: flex;
  align-items: center;
  justify-content: center;

  & a {
    font-family: "AdelleSans-Regular", sans-serif;
    font-weight: bold;
    font-size: 1.25em;
    color: var(--ea-color-2);
  }
}
