:host {
  display: block;
  text-align: center;
  margin: 6em 1em 12em;
}
.banner {
  display: flex;
  justify-content: center;
  position: relative;
  & img {
    position: absolute;
    left: var(--banner-img-left);
    // top: -60%;
    width: 25em;
    transform: rotate(46deg);
    z-index: 0;
    opacity: 0.3;
  }
  h1 {
    --ea-sizer: 2;
  }
  h2 {
    --ea-sizer: 1.4;
  }

  > div {
    z-index: 1;
    max-width: 40em;
  }
}
