@import "~@eamode/eang/css/all.css";

// Font Face Imports
@font-face {
  font-family: "Graphik-Bold";
  src: url("./assets/fonts/Graphik-Bold.ttf");
}
@font-face {
  font-family: "Graphik-Regular";
  src: url("./assets/fonts/Graphik-Regular.ttf");
}
@font-face {
  font-family: "AdelleSans-Regular";
  src: url("./assets/fonts/AdelleSans-Regular.ttf");
}

.mode {
  --ea-toolbar-background: white;
  --ea-main-background: white;

  ea-toolbar {
    --ea-toolbar-height: 5em;
    & button {
      display: none;
    }
  }

  ea-layout {
    ea-body {
      --ea-body-display: block;
      --ea-main-margin: 0;
    }
  }

  ea-footer {
    --ea-footer-height: 16em;
    --ea-footer-background: var(--ea-color-2);
    & [multi-col] {
      align-items: center;
    }
    & h2 {
      border-bottom: .1em solid #f7f7f7;
      width: fit-content;
    }
  }

  .sub-footer {
    height: 3em;
    background: #f7f7f7;
  }

  .ea-card {
    box-sizing: border-box;
  }

  a {
    font-family: "AdelleSans-Regular", sans-serif;
    font-weight: bold;
    font-size: 2.1em;
    text-decoration: none;
    border-bottom: 0.1em solid var(--ea-color-1-light);
  }

  .hero-banner {
    margin: 7.25em 0 14.5em 0;
  }

  h1 {
    font-family: "Graphik-Bold", sans-serif;
    font-weight: bold;
    font-size: 4em;
  }
  h2 {
    font-family: "AdelleSans-Regular", sans-serif;
    font-weight: bold;
    font-size: 2.1em;
  }
  p {
    font-family: "AdelleSans-Regular", sans-serif;
  }
  ea-footer {
    --ea-footer-height: auto;
  }
}
