@import 'bootstrap/dist/css/bootstrap.css';

@import '@eamode/eang/lib/css/_base.css';
@import '@eamode/eang/lib/css/mode/variables.css';
@import '@eamode/eang/lib/css/mode/button.css';
@import '@eamode/eang/lib/css/mode/nav.css';
@import '@eamode/eang/lib/css/mode/card.css';

@import './css/index.css';
@import './font-roboto.css';
@import './css/get-mode.css';
@import './css/site-footer.css';
@import './css/site-header.css';

html {
  height: 100%;
}
body {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
main {
}
footer {
  grid-row-start: 3;
  grid-row-end: 4;
}

h1 {
  font-size: calc(var(--ea-sizer) * 4em);
  font-weight: 600;
  line-height: 0.9;
  margin-top: 0;
  color: var(--ea-color-1a);
}

h2 {
  font-size: calc(var(--ea-sizer) * 2.5em);
  font-weight: 600;
  color: var(--ea-color-1a);
  letter-spacing: -1px;
  margin-bottom: calc(var(--ea-spacer) * 0.7em);
}

h3 {
  font-size: calc(var(--ea-sizer) * 2.5em);
  font-weight: 500;
  color: var(--ea-color-1a);
  letter-spacing: -1px;
}

@media (max-width: 768px) {
  header {
    nav.ea-nav {
      padding: calc(var(--ea-spacer) * 2.2em) 0 calc(var(--ea-spacer) * 1em) 0;
      ul {
        flex-direction: column;
      }
    }
  }
  section {
    .before {
      width: 60%;
      left: 2%;
    }
    .after {
      width: 80%;
      right: 2%;
    }
  }
}

@media (max-width: 576px) {
  :root {
    --ea-spacer: 0.5;
  }

  section {
    .before {
      width: 60%;
      left: 2%;
    }
    .after {
      width: 80%;
      right: 2%;
    }
    .image-col {
      img {
        max-width: 16em;
      }
    }
  }

  section.service-software {
    div.row {
      flex-direction: column-reverse;
    }
  }

  footer {
    .footer-bottom {
      .action {
        justify-content: space-between;
      }
      .ea-nav {
        padding: calc(var(--ea-spacer) * 0.8em) 0 0 0;
        li:first-child {
          a {
            padding-left: 0;
          }
        }
      }
    }
  }
}

@media (max-width: 360px) {
  :root {
    --ea-spacer: 0.4;
  }
}
