@import 'bootstrap/dist/css/bootstrap.css';

@import '@eamode/eang/lib/css/_base.css';
@import '@eamode/eang/lib/css/mode/variables.css';
@import '@eamode/eang/lib/css/mode/fonts.css';
@import '@eamode/eang/lib/css/mode/button.css';
@import '@eamode/eang/lib/css/mode/nav.css';

h1 {
  font-size: calc(var(--ea-sizer) * 4em);
  font-weight: 600;
  line-height: 0.9;
  margin-top: 0;
  color: var(--ea-color-1a);
}

h2 {
  font-size: calc(var(--ea-sizer) * 2.5em);
  font-weight: 600;
  color: var(--ea-color-1a);
  letter-spacing: -1px;
  margin-bottom: calc(var(--ea-spacer) * 0.7em);
}

h3 {
  font-size: calc(var(--ea-sizer) * 2.5em);
  font-weight: 500;
  color: var(--ea-color-1a);
  letter-spacing: -1px;
}

header {
  background-color: var(--ea-background-transparent-1);
  border-bottom: var(--ea-border-1);

  &.navbar {
    padding: calc(var(--ea-spacer) * 1em) 0;
  }
  .navbar-brand {
    color: var(--ea-color-1);
    padding: 0 calc(var(--ea-spacer) * 2em) 0 0;
    svg {
      height: 3em;
    }
  }
  .navbar-toggler {
    color: var(--ea-color-1);
  }
  nav.ea-nav {
    padding: calc(var(--ea-spacer) * 1em) 0;
    --ea-sizer: 1.2;
    font-weight: 600;
  }
  --ea-nav-hover-color: var(--ea-color-1);

  div.grow {
    flex-grow: 1;
  }

  div.action {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    ea-color-scheme-toggle{
      color: var(--ea-color-1);
    }
  }

  button.action {
    white-space: nowrap;
  }
}

.banner {
  /* width: 100%; */
  background: url(/assets/images/slider.jpg) var(--ea-color-1) no-repeat center
    center;
  background-size: cover;
  color: var(--ea-text-color-light);

  .content {
    padding: calc(var(--ea-spacer) * 16em) 0;
    text-align: center;
  }
  h1 {
    color: var(--ea-text-color-light);
  }
  p {
    font: calc(var(--ea-sizer) * 1.2em) 'Roboto';
    line-height: 1.3;
    padding: calc(var(--ea-spacer) * 1.2em) 0;
  }
}

section {
  position: relative;
  padding: calc(var(--ea-spacer) * 6em) 0;
  &.service-software {
    background-color: var(--ea-background-2);
  }
  .before {
    position: absolute;
    top: 0;
    left: 10%;
    z-index: -999;
    img {
      height: auto;
      width: inherit;
      aspect-ratio: attr(width) / attr(height);
    }
  }
  .after {
    position: absolute;
    text-align: right;
    bottom: 0;
    right: 10%;
    z-index: -999;
    img {
      height: auto;
      width: inherit;
      aspect-ratio: attr(width) / attr(height);
    }
  }

  .image-col {
    padding: 0 0 calc(var(--ea-spacer) * 4em) 0;
    img {
      height: auto;
      width: 100%;
      aspect-ratio: attr(width) / attr(height);
      max-width: 22em;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .text-bold {
    color: var(--ea-color-1a);
    font-weight: 600;
  }
}

.brand {
  border-top: 1px solid var(--ea-text-color-2);
  h3 {
    text-align: center;
    line-height: 1.3;
    padding: 0 0 calc(var(--ea-spacer) * 2em) 0;
  }
  .brand-images {
    justify-content: center;
    div.col {
      padding: calc(var(--ea-spacer) * 0.5em);
    }
    .brand-image {
      min-width: 10em;
      min-height: 100px;
      line-height: 100px;
      border: 3px solid var(--ea-text-color-2);
      text-align: center;
    }
  }
}

footer {
  background-color: var(--ea-color-2);
  padding: calc(var(--ea-spacer) * 6em) 0 0 0;
  color: var(--ea-text-color-light);

  .title {
    margin: 0;
    padding: calc(var(--ea-spacer) * 0.8em) 0 calc(var(--ea-spacer) * 0.5em) 0;
    font-size: calc(var(--ea-sizer) * 1.2em);
    font-weight: 600;
  }

  .content {
    line-height: 1.2;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      a {
        color: inherit;
        font-weight: 400;

        &:before {
          background-color: inherit;
        }
      }
    }
  }

  .footer-top {
    border-bottom: 1px solid #384270;
    .logo-footer {
      margin-bottom: 0.8em;
      svg {
        position: relative;
        height: 4em;
      }
    }
    .copyright {
      font-size: calc(var(--ea-sizer) * 0.7em);
    }
  }

  .footer-bottom {
    display: flex;
    padding: calc(var(--ea-spacer) * 2em) 0;
    align-items: center;

    .social-share ul {
      display: flex;
      li {
        min-width: 3em;
        line-height: 3em;
        border-radius: 100%;
        background-color: var(--ea-text-color-light);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 1em;
        a {
          color: #212d60;
          font-size: 22px;
        }
        svg {
          height: 1em;
        }
        &:hover {
          .fa-youtube {
            color: #d7292c;
          }
          .fa-linkedin {
            color: #1178b5;
          }
          .fa-github {
            color: #222222;
          }
        }
      }
    }

    .action {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      div.grow {
        flex-grow: 1;
      }
    }
  }
}

@media (max-width: 768px) {
  header {
    nav.ea-nav {
      padding: calc(var(--ea-spacer) * 2.2em) 0 calc(var(--ea-spacer) * 1em) 0;
      ul {
        flex-direction: column;
      }
    }
  }
  section {
    .before {
      width: 60%;
      left: 2%;
    }
    .after {
      width: 80%;
      right: 2%;
    }
  }
}

@media (max-width: 576px) {
  :root {
    --ea-spacer: 0.5;
  }

  section {
    .before {
      width: 60%;
      left: 2%;
    }
    .after {
      width: 80%;
      right: 2%;
    }
    .image-col {
      img {
        max-width: 16em;
      }
    }
  }

  section.service-software {
    div.row {
      flex-direction: column-reverse;
    }
  }

  footer {
    .footer-bottom {
      .action {
        justify-content: space-between;
      }
      .ea-nav {
        padding: calc(var(--ea-spacer) * 0.8em) 0 0 0;
        li:first-child {
          a {
            padding-left: 0;
          }
        }
      }
    }
  }
}

@media (max-width: 360px) {
  :root {
    --ea-spacer: 0.4;
  }
}
