<a name="consulting"></a>
<div class="section-container">
  <img src="/assets/images/deploy.svg" alt="software applications" />

  <div>
    <h2>Consulting</h2>
    <p>
      <strong>Business Process Management</strong> - Monitor and optimize
      business processes to improve productivity, efficiency, and operational
      costs and take advantage of technological advancements
    </p>

    <p>
      <strong>Cloud Strategy</strong> – Leverage 12-factor app methodology to
      design secure, scalable apps that realize the full benefits of cloud
      infrastructure
    </p>

    <p>
      <strong>Solution Architecture</strong> - Effectively manage responses to
      disruptive forces by identifying and analyzing the execution of change
      toward desired business vision and outcomes
    </p>

    <p>
      <strong>Training</strong> - Empower your people with cutting edge
      knowledge.
    </p>
  </div>
</div>
