:host {
  display: block;
  background: var(--ea-background-2);
}

ul {
  padding: 0;
}

li {
  font-weight: bold;
  list-style: none;
  margin-bottom: 0.5em;
  &:before {
    content: '- ';
  }
}

.value-prop-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 2em 0;
}

.value-prop {
  display: grid;
  justify-content: center;
}

.value-prop > div:first-child {
  height: 5em;
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 750px) {
  .value-prop {
    display: grid;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .value-prop-container {
    grid-gap: 2.5em;
    display: grid;
    grid-template-columns: 1fr !important;
  }
}

#design-img {
  height: 4em;
}

#develop-img {
  width: 10em;
}

#deploy-img {
  width: 12em;
}
