:host {
  background: var(--ea-background-2);
  background: gray;
  display: flex;
  font-size: calc(var(--ea-sizer) * 1.5rem);
  justify-content: center;
  padding: 2em 3em;

  h2,
  p {
    color: rgb(235, 235, 235);
  }
}

.section-container {
  display: flex;
  flex-direction: row;
  max-width: 55em;
  text-align: justify;

  & img {
    height: auto;
    margin: auto;
    padding-right: 3em;
    width: 15em;
  }
}

@media only screen and (max-width: 1250px) {
  .section-container {
    flex-direction: column;
    justify-content: center;

    & img {
      padding-right: 0em;
    }
  }
}
