<div class="value-prop-container" style="background-color:rgb(138, 138, 138);">
  <div>
    <img id="design-img" src="/assets/images/develop.svg" alt="flow chart diagram"/>
  </div>
  <div style="color: #fff;" >
    <h2 style="color: #fff;">Consulting</h2>
    <ul style="color: #fff;">

      <li style="color: #fff;">
        <strong>Business Process Management</strong> - Monitor and optimize business processes to
        improve productivity, efficiency, and operational costs and take
        advantage of technological advancements
      </li>

      <li style="color: #fff;">
        <strong>Cloud Strategy</strong> – Leverage 12-factor app methodology to design secure,
        scalable apps that realize the full benefits of cloud infrastructure
      </li>

      <li style="color: #fff;">
        <strong>Solution Architecture</strong> - Effectively manage responses to disruptive
        forces by identifying and analyzing the execution of change toward
        desired business vision and outcomes
      </li>

      <li style="color: #fff;">
        <strong>Training</strong> - Empower your people with cutting edge knowledge.
      </li>
    </ul>
  </div>
</div>

<div class="value-prop-container" style="background-color:#fff">
  <div>
    <img id="deploy-img" src="/assets/images/deploy.svg" alt="software applications" />
  </div>
  <div>
    <h2>Software Development</h2>
    <ul>
      <li>
        <strong>Artificial Intelligence</strong> - Leverage modern automated data analysis
        techniques such as machine learning to identify and exploit patterns and
        relationships in your data
      </li>
      <li>
        <strong>Cloud Migration</strong> – Modernize legacy business applications to leverage
        modern technologies such as cloud, mobile, and artificial intelligence.
        Move data, workflows, end user applications from on-premise servers to
        public or private cloud infrastructures
      </li>
      <li>
        <strong>Web Development</strong> - Provide access to your business information
        and capabilities through visually appealing experiences and interactions based on UX design. Integrate data from APIs, microservices, and blockchain.
      </li>
    </ul>
  </div>
</div>
