<div class="section-container">
  <img src="/assets/images/develop.svg" alt="flow chart diagram" />

  <div>
    <h2>Consulting</h2>
    <ul>
      <li>
        <strong>Business Process Management</strong> - Monitor and optimize
        business processes to improve productivity, efficiency, and operational
        costs and take advantage of technological advancements
      </li>

      <li>
        <strong>Cloud Strategy</strong> – Leverage 12-factor app methodology to
        design secure, scalable apps that realize the full benefits of cloud
        infrastructure
      </li>

      <li>
        <strong>Solution Architecture</strong> - Effectively manage responses to
        disruptive forces by identifying and analyzing the execution of change
        toward desired business vision and outcomes
      </li>

      <li>
        <strong>Training</strong> - Empower your people with cutting edge
        knowledge.
      </li>
    </ul>
  </div>
</div>

