.cta {
  width: 100%;
  background: #f7f7f7;
  height: 14.5em;
  margin: 7.25em 0;
  position: relative;
  overflow: hidden;
  & img {
    position: absolute;
    right: 2em;
    transform: rotate(50deg);
    width: 20em;
    opacity: 0.5;
  }
}
